<section>
  <div id="content" class="nav-spacing">
    <h1 style="text-align: center;" class="profile-h1 col-md-12">Campaings</h1>
    <div class="row profile-campaings-box">
      <% if !@campaigns.nil? %>
        <% @campaigns.each do |campaign| %>
          <div class="col-md-3">
            <div class="profile-create-card">
              <a href="/campaign/<%= current_user.id %>/<%= campaign.slot %>" class="style-white" style="font-size: 1em">
                <% if campaign.image.url != nil %>
                  <%= image_tag(campaign.image.url, style: "width:100%") %>
                <% else %>
                  <%= image_tag("placeholder.jpg", style: "width:100%") %>
                <% end %>
                <h1 class="profile-overlay-active"><%= campaign.name %></h1>
              </a>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="col-md-3">
        <div onclick="openModal('create_campaign');" class="profile-create-card">
          <%= image_tag("placeholder.jpg", style: "width:100%; opacity: 0;") %>
          <h1 id="profile-add-campaign-plus" class="profile-overlay-active">+</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="create_campaign" class="profile-modal animate">
    <%= form_tag("/create_campaign", method: "post", class: "profile-modal-content", autocomplete: "off") do %>
      <div style="width:100%;">
        <a id="profile-modal-exit" onclick="closeModal('create_campaign')" style="color:#000;"><b>X</b></a>
      </div>
      <div class="row">
        <div class="col-md-4">
          <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
          <label for="file">Choose an image</label>
        </div>
        <div class="col-md-8">
          <%= text_field_tag :name, "", class: 'profile-box', placeholder: "Title", style: "margin-top:30px; font-size: 2em;" %>
          <label for="private">Private:</label>
          <label class="switch">
            <%= check_box_tag :private %>
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= text_area_tag :description, "", rows: 8, maxlength: 10000, class: 'profile-box profile-textarea', placeholder: "Discription", style: "resize: none;" %>
        </div>
      </div>
      <div class="full-width" id="buttons-top-space">
        <button id="campaign-cancel" onclick="closeModal('id01')" type="button">Cancel</button>
        <input class="button" name="commit" type="submit" value="Create" />
      </div>
    <% end %>
  </div>
</section>

<script>
  $('#dm').on({
      focus: function () {
          $(".bootstrap-tagsinput").addClass('prfile-input-focused');
      },
  });
</script>
<script>
  navLogout = document.getElementById("right-nav-item")
  navName = document.getElementById("nav-name")
  test = document.getElementById("test")

  function openModal(modalID){
    document.getElementById(modalID).style = "display: initial; opacity: 1;";
    document.getElementById(modalID).className = "profile-modal";
    document.getElementById(modalID).classList.add("animate");
  }

  function closeModal(modalID){
      document.getElementById(modalID).className = 'profile-modal unanimate'
      document.getElementById(modalID).style = "display:initial; opacity: 0;";
      setTimeout(function() {document.getElementById(modalID).style = 'display: none;';}, 600);
  }
</script>
<script>
  function autocomplete(inp, arr) {
    var currentFocus;
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        this.parentNode.appendChild(a);
        for (i = 0; i < arr.length; i++) {
          if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            b = document.createElement("DIV");
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            b.addEventListener("click", function(e) {
                inp.value = this.getElementsByTagName("input")[0].value;
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
    });
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          currentFocus++;
          addActive(x);
        } else if (e.keyCode == 38) {
          currentFocus--;
          addActive(x);
        } else if (e.keyCode == 13) {
          e.preventDefault();
          if (currentFocus > -1) {
            if (x) x[currentFocus].click();
          }
        }
    });
    function addActive(x) {
      if (!x) return false;
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
  }

  var users = [
    <% if @users.any? %>
      <% @users.each do |user| %>
        <% if current_user.following?(user) %>
          "<%=user.email%>",
        <% end %>
      <% end %>
    <% end %>
  ];
</script>
