<section>
  <div id="content" class="nav-spacing">
    <h1 style="text-align: center;" class="profile-h1 col-md-12"><%= @campaign.name %></h1>
    <div class="row">
      <div class="col-md-12">
        <% if current_user.id == @campaign.creator %>
          <%= form_tag("/update_campaign/#{@campaign.creator}/#{@campaign.slot}", method: "post", multipart: true) do %>
            <div class="row">
              <div class="col-md-4">
                <%= file_field_tag :image, id: "file", class: "inputfile" %>
                <label class="style-white border-white" style="padding:0" for="file">
                  <% if @campaign.image.url != nil %>
                    <%= image_tag(@campaign.image.url, class: "style-white border-white", style: "width:100%;") %>
                  <% else %>
                    <%= image_tag("placeholder.jpg", class: "style-white border-white", style: "width:100%;") %>
                  <% end %>
                </label>
              </div>
              <div class="col-md-8">
                <% if @campaign.description != "" %>
                  <%= text_area_tag :discription, @campaign.description, rows: 10, maxlength: 10000, class: 'profile-box profile-textarea style-white border-white', placeholder: @campaign.description, style: "height: calc(80% - 46px); resize: none;" %>
                <% else %>
                  <%= text_area_tag :discription, "", rows: 10, maxlength: 10000, class: 'profile-box profile-textarea style-white border-white', placeholder: "Discription", style: "height: calc(80% - 46px); resize: none;" %>
                <% end %>
                <div class="col-md-12">
                  <div class="col-md-10">
                  </div>
                  <div class="col-md-2" style="padding:0;">
                    <%= submit_tag("Update", class: "button", style: "padding-top: 10px; width: calc(100% - 15px)")%>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
        <div class="row">
          <div class="col-md-4">
              <% if @campaign.image.url != nil %>
                <%= image_tag(@campaign.image.url, class: "style-white border-white", style: "width:100%;") %>
              <% else %>
                <%= image_tag("placeholder.jpg", class: "style-white border-white", style: "width:100%;") %>
              <% end %>
          </div>
          <div class="col-md-8">
            <h1><%= @campaign.description %></h1>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row profile-campaings-box">
      <h1 class="profile-h1 col-md-12">Locations</h1>
      <% if !@campaigns.nil? %>
        <% @campaigns.each do |campaign| %>
          <div class="col-md-3">
            <div class="profile-create-card">
              <a href="/campaign/<%= current_user.id %>/<%= campaign.slot %>" class="style-white" style="font-size: 1em">
                <% if campaign.image.url != nil %>
                  <%= image_tag(campaign.image.url, style: "width:100%") %>
                <% else %>
                  <%= image_tag("placeholder.jpg", style: "width:100%") %>
                <% end %>
                <h1 class="profile-overlay-active"><%= campaign.name %></h1>
              </a>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="col-md-3">
        <div onclick="openModal('create_campaign');" class="profile-create-card">
          <%= image_tag("placeholder.jpg", style: "width:100%; opacity: 0;") %>
          <h1 id="profile-add-campaign-plus" class="profile-overlay-active">+</h1>
        </div>
      </div>
    </div>
    <div id="create_campaign" class="profile-modal animate">
      <%= form_tag("/create_campaign", method: "post", class: "profile-modal-content", autocomplete: "off") do %>
        <div style="width:100%;">
          <a id="profile-modal-exit" onclick="closeModal('create_campaign')" style="color:#000;"><b>X</b></a>
        </div>
        <div class="row">
          <div class="col-md-4">
            <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
            <label for="file">Choose an image</label>
          </div>
          <div class="col-md-8">
            <%= text_field_tag :name, "", class: 'profile-box', placeholder: "Title", style: "margin-top:30px; font-size: 2em;" %>
            <label for="private">Private:</label>
            <label class="switch">
              <%= check_box_tag :private %>
              <span class="slider"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= text_area_tag :description, "", rows: 8, maxlength: 10000, class: 'profile-box profile-textarea', placeholder: "Discription", style: "resize: none;" %>
          </div>
        </div>
        <div class="full-width" id="buttons-top-space">
          <button id="campaign-cancel" onclick="closeModal('id01')" type="button">Cancel</button>
          <input class="button" name="commit" type="submit" value="Create" />
        </div>
      <% end %>
    </div>
  </div>
</section>

<script>
  $('#dm').on({
      focus: function () {
          $(".bootstrap-tagsinput").addClass('prfile-input-focused');
      },
  });
</script>
<script>
  navLogout = document.getElementById("right-nav-item")
  navName = document.getElementById("nav-name")
  test = document.getElementById("test")

  function openModal(modalID){
    document.getElementById(modalID).style = "display: initial; opacity: 1;";
    document.getElementById(modalID).className = "profile-modal";
    document.getElementById(modalID).classList.add("animate");
  }

  function closeModal(modalID){
      document.getElementById(modalID).className = 'profile-modal unanimate'
      document.getElementById(modalID).style = "display:initial; opacity: 0;";
      setTimeout(function() {document.getElementById(modalID).style = 'display: none;';}, 600);
  }
</script>
