<section class="profile-background-c" style="background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.8)), url(<% if @campaign.image.url != nil %><%=asset_path(@campaign.image.url)%><% else %><%=asset_path('placeholder.jpg')%><% end %>);">
  <div id="content" class="nav-spacing">
    <h1 style="text-align: center;" class="profile-h1 col-md-12"><%= @campaign.name %></h1>
    <div class="row">
      <div class="col-md-12">
        <% if current_user.id == @campaign.creator %>
          <%= form_tag("/update_campaign/#{@campaign.creator}/#{@campaign.slot}", method: "post", multipart: true) do %>
            <div class="row">
              <div class="col-md-4">
                <%= file_field_tag :image, id: "file", class: "inputfile" %>
                <label class="style-white border-white" style="padding:0" for="file">
                  <% if @campaign.image.url != nil %>
                    <%= image_tag(@campaign.image.url, class: "style-white border-white", style: "width:100%;") %>
                  <% else %>
                    <%= image_tag("placeholder.jpg", class: "style-white border-white", style: "width:100%;") %>
                  <% end %>
                </label>
              </div>
              <div class="col-md-8">
                <% if @campaign.description != "" %>
                  <%= text_area_tag :discription, @campaign.description, rows: 10, maxlength: 10000, class: 'profile-box profile-textarea style-white border-white', placeholder: @campaign.description, style: "height: calc(80% - 46px); resize: none;" %>
                <% else %>
                  <%= text_area_tag :discription, "", rows: 10, maxlength: 10000, class: 'profile-box profile-textarea style-white border-white', placeholder: "Discription", style: "height: calc(80% - 46px); resize: none;" %>
                <% end %>
                <div class="col-md-12">
                  <div class="col-md-10">
                  </div>
                  <div class="col-md-2" style="padding:0;">
                    <%= submit_tag("Update", class: "button", style: "padding-top: 10px; width: calc(100% - 15px)")%>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
        <div class="row">
          <div class="col-md-4">
              <% if @campaign.image.url != nil %>
                <%= image_tag(@campaign.image.url, class: "style-white border-white", style: "width:100%;") %>
              <% else %>
                <%= image_tag("placeholder.jpg", class: "style-white border-white", style: "width:100%;") %>
              <% end %>
          </div>
          <div class="col-md-8">
            <h1><%= @campaign.description %></h1>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
