<section class="profile-background-u">
  <div id="content" class="nav-spacing">
    <div class="profile-edit-modal">
      <h1 style="text-align: center;" class="profile-h1 col-md-12">Profile</h1>
      <%= form_tag("/update_user", method: "post") do %>
        <div class="row">
          <div class="col-md-4">
            <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
            <label class="style-white border-white" for="file">Choose an image</label>
          </div>
          <div class="col-md-8">
            <div class="row col-md-12">
              <div class="col-md-6">
                <% if current_user.username != "" %>
                  <%= text_field_tag :username, current_user.username, class: 'profile-box style-white border-white', placeholder: current_user.username, value: current_user.username, style: "margin-top:30px; font-size: 2em;" %>
                <% else %>
                  <%= text_field_tag :username, "Username", class: 'profile-box style-white border-white', placeholder: "Username", value: "", style: "margin-top:30px; font-size: 2em;" %>
                <% end %>
              </div>
              <div class="col-md-6">
                <% if current_user.email != "" %>
                  <%= email_field_tag :email, current_user.email, class: 'profile-box style-white border-white', placeholder: current_user.email, value: current_user.email, style: "margin-top:30px; font-size: 2em;" %>
                <% else %>
                  <%= email_field_tag :email, current_user.email, class: 'profile-box style-white border-white', placeholder: "Email", value: "", style: "margin-top:30px; font-size: 2em;" %>
                <% end %>
              </div>
            </div>
            <div class="row col-md-12" style="padding-left: 5px;">
              <div class="col-md-12" style="padding-left: 0;">
                <% if current_user.discription != "" %>
                  <%= text_area_tag :discription, current_user.discription, rows: 8, maxlength: 10000, class: 'profile-box profile-textarea style-white border-white', placeholder: current_user.discription, style: "resize: none;" %>
                <% else %>
                  <%= text_area_tag :discription, "", rows: 8, maxlength: 10000, class: 'profile-box profile-textarea style-white border-white', placeholder: "Discription", style: "resize: none;" %>
                <% end %>
              </div>
              <div class="col-md-10">
              </div>
              <div class="col-md-2">
                <%= submit_tag("Update", class: "button", style: "width: calc(100% - 15px)")%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row profile-campaings-box">
      <h1 class="profile-h1 col-md-12">Campaings</h1>
      <div class="col-md-3">
        <a href="/campaigns">
          <div class="profile-create-card">
            <h1>+</h1>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
    </div>
    <div class="row profile-campaings-box">
      <h1 class="profile-h1 col-md-12">Friends</h1>
      <div class="col-md-3">
        <a href="/friend_search">
          <div class="profile-create-card">
            <h1>+</h1>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
    </div>
  </div>
</section>
