<section class="profile-background-u" style="min-height: inherit">
  <div id="content" class="nav-spacing">
    <div class="profile-edit-modal">
      <h1 style="text-align: center;" class="profile-h1 col-md-12">Profile</h1>
      <%= form_tag("/update_user", method: "post") do %>
        <div class="row">
          <div class="col-md-4">
            <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
            <label class="style-white border-white" style="padding:0" for="file"><%= image_tag("user_placeholder.jpg", class: "style-white border-white", style: "width:100%;") %></label>
          </div>
          <div class="col-md-8">
            <div class="row col-md-12">
              <div class="col-md-6">
                <% if current_user.username != "" %>
                  <%= text_field_tag :username, current_user.username, class: 'profile-box style-white border-white', placeholder: current_user.username, value: current_user.username, style: "margin-top:30px; font-size: 2em;" %>
                <% else %>
                  <%= text_field_tag :username, "Username", class: 'profile-box style-white border-white', placeholder: "Username", value: "", style: "margin-top:30px; font-size: 2em;" %>
                <% end %>
              </div>
              <div class="col-md-6">
                <% if current_user.email != "" %>
                  <%= email_field_tag :email, current_user.email, class: 'profile-box style-white border-white', placeholder: current_user.email, value: current_user.email, style: "margin-top:30px; font-size: 2em;" %>
                <% else %>
                  <%= email_field_tag :email, current_user.email, class: 'profile-box style-white border-white', placeholder: "Email", value: "", style: "margin-top:30px; font-size: 2em;" %>
                <% end %>
              </div>
            </div>
            <div class="row col-md-12" style="padding-left: 5px;">
              <div class="col-md-12" style="padding-left: 0;">
                <% if current_user.discription != "" %>
                  <%= text_area_tag :discription, current_user.discription, rows: 10, maxlength: 10000, class: 'profile-box profile-textarea style-white border-white', placeholder: current_user.discription, style: "height: calc(100% - 46px); resize: none;" %>
                <% else %>
                  <%= text_area_tag :discription, "", rows: 8, maxlength: 10000, class: 'profile-box profile-textarea style-white border-white', placeholder: "Discription", style: "height: calc(100% - 20px); resize: none;" %>
                <% end %>
              </div>
              <div class="col-md-10">
              </div>
              <div class="col-md-2" style="padding:0;">
                <%= submit_tag("Update", class: "button", style: "padding-top: 10px; width: calc(100% - 15px)")%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <!-- </div>
</section>
<section class="profile-background-u">
  <div id="content" class="nav-spacing"> -->
    <% if !@campaigns.nil? %>
      <div class="row profile-campaings-box">
        <h1 class="profile-h1 col-md-12">Campaings</h1>
        <% @campaigns.each do |campaign| %>
          <div class="col-md-3">
            <div class="profile-create-card">
              <%= image_tag("placeholder.jpg", style: "width:100%") %>
              <a href="/campaign/<%= campaign.slot %>" class="style-white" style="font-size: 1em"><h1><%= campaign.name %></h1></a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if !@users.nil? %>
      <div class="row profile-campaings-box">
        <h1 class="profile-h1 col-md-12">Friends</h1>
        <% @users.each do |user| %>
          <% if user != current_user %>
            <div class="col-md-3">
              <div class="profile-create-card">
                <% if user.username != "" %>
                  <a href="/profile/<%= user.id %>" class="style-white" style="font-size: .3em"><h1><%= user.username %></h1></a>
                <% else %>
                  <a href="/profile/<%= user.id %>" class="style-white" style="font-size: .3em"><h1><%= user.email %></h1></a>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
