<section class="profile-background-u" style="min-height: inherit">
  <div id="content" class="nav-spacing">
    <div class="profile-edit-modal">
      <% if @user.username != "" %>
        <h1 style="text-align: center;" class="profile-h1 col-md-12"><%= @user.username %></h1>
      <% else %>
        <h1 style="text-align: center;" class="profile-h1 col-md-12"><%= @user.email %></h1>
      <% end %>
      <%= form_tag("/update_user", method: "post") do %>
        <div class="row">
          <div class="col-md-4 border-white">
            <%= image_tag("user_placeholder.jpg", class: "style-white", style: "width:100%; margin: 20px; border: 1px solid #fff;") %>
          </div>
          <div class="col-md-8">
            <% if @user.discription != "" %>
              <h1 class="style-white" style="padding: 20px;"><%= @user.discription %></h1>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if !@campaigns.nil? %>
      <div class="row profile-campaings-box">
        <h1 class="profile-h1 col-md-12">Campaings</h1>
        <% @campaigns.each do |campaign| %>
          <% if !campaign.private %>
            <div class="col-md-3">
              <div class="profile-create-card">
                <a href="/campaign/<%= @user.id %>/<%= campaign.slot %>" class="style-white" style="font-size: 1em">
                  <%= image_tag("placeholder.jpg", style: "width:100%") %>
                  <h1 class="profile-overlay"><%= campaign.name %></h1>
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if !@users.nil? %>
      <div class="row profile-campaings-box">
        <h1 class="profile-h1 col-md-12">Friends</h1>
        <% @users.each do |user| %>
          <% if user != @user %>
            <div class="col-md-3">
              <div class="profile-create-card">
                <% if user.username != "" %>
                  <a href="/profile/<%= user.id %>" class="style-white">
                    <%= image_tag("user_placeholder.jpg", style: "width:100%") %>
                    <h1 class="profile-overlay"><%= user.username %></h1>
                  </a>
                <% else %>
                  <a href="/profile/<%= user.id %>" class="style-white">
                    <%= image_tag("user_placeholder.jpg", style: "width:100%") %>
                    <h1 class="profile-overlay"><%= user.email %></h1>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
