<!DOCTYPE html>
<html>
  <head>
    <% if current_user %>
      <title>Game - <%= current_user.email %></title>
    <% else %>
      <title>Game</title>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <nav id="navbar" class="navbar navbar-expand-md navbar-dark">
        <% if current_user %>
          <% if current_user.username != "" %>
          <a id="sidebarCollapse" class="nav-header style-white" style="cursor: pointer">
            <svg class="ham ham2" viewBox="0 0 100 100" width="40" onclick="this.classList.toggle('active')">
            <path class="line top" d="m 70,33 h -40 c -6.5909,0 -7.763966,-4.501509 -7.763966,-7.511428 0,-4.721448 3.376452,-9.583771 13.876919,-9.583771 14.786182,0 11.409257,14.896182 9.596449,21.970818 -1.812808,7.074636 -15.709402,12.124381 -15.709402,12.124381" />
            <path class="line middle" d="m 30,50 h 40" />
            <path class="line bottom" d="m 70,67 h -40 c -6.5909,0 -7.763966,4.501509 -7.763966,7.511428 0,4.721448 3.376452,9.583771 13.876919,9.583771 14.786182,0 11.409257,-14.896182 9.596449,-21.970818 -1.812808,-7.074636 -15.709402,-12.124381 -15.709402,-12.124381" /></svg>
            <%= current_user.username %>
          </a>
            <%# <%= link_to current_user.username, "/sidebar_toggle", id: "sidebarCollapse", class: "nav-header style-white", style: "cursor: pointer", remote: true %>
          <% else %>
          <a id="sidebarCollapse" class="nav-header style-white" style="cursor: pointer">
            <svg class="ham ham2" viewBox="0 0 100 100" width="44" onclick="this.classList.toggle('active')">
            <path class="line top" d="m 70,33 h -40 c -6.5909,0 -7.763966,-4.501509 -7.763966,-7.511428 0,-4.721448 3.376452,-9.583771 13.876919,-9.583771 14.786182,0 11.409257,14.896182 9.596449,21.970818 -1.812808,7.074636 -15.709402,12.124381 -15.709402,12.124381" />
            <path class="line middle" d="m 30,50 h 40" />
            <path class="line bottom" d="m 70,67 h -40 c -6.5909,0 -7.763966,4.501509 -7.763966,7.511428 0,4.721448 3.376452,9.583771 13.876919,9.583771 14.786182,0 11.409257,-14.896182 9.596449,-21.970818 -1.812808,-7.074636 -15.709402,-12.124381 -15.709402,-12.124381" /></svg>
            <%= current_user.email %>
          </a>
            <%# <%= link_to current_user.email, "/sidebar_toggle", id: "sidebarCollapse", class: "nav-header style-white", style: "cursor: pointer", remote: true %>
          <% end %>
        <% end %>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
          <ul class="navbar-nav"></ul>
          <% if current_user %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a id="right-nav-item" style="margin-left: -3em;" href="/logout">logout</a>
            </li>
          </ul>
          <% end %>
        </div>
      </nav>
      <% if current_user %>
        <nav id="sidebar">
          <div class="sidebar-header">
            <div class="nav-spacing">
            </div>
            <a class="nav-link-a" href="/"><h3>Profile</h3></a>
            <a class="nav-link-a" href="/campaigns"><h3>Campaigns</h3></a>
            <a class="nav-link-a" href="/partys"><h3>Partys</h3></a>
            <a class="nav-link-a" href="/friend_search"><h3>Friends</h3></a>
          </div>
        </nav>
      <% end %>
    </div>
    <%= yield %>
    <% if current_user %>
      <script type="text/javascript">
        $('#sidebar, #content').toggleClass('active');
        <% if !current_user.sidebar_active %>
          $('#sidebar, #content').toggleClass('active');
        <% end %>
        $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
        });
      </script>
    <% end %>
  </body>
</html>
