<!DOCTYPE html>
<html>
  <head>
    <% if current_user %>
      <title>Game - <%= current_user.email %></title>
    <% else %>
      <title>Game</title>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav id="navbar" class="navbar navbar-expand-md navbar-dark">
      <% if current_user %>
        <a id="nav-name" href="/"><%= current_user.email %></a>
      <% else %>
        <a id="nav-name" href="/">Home</a>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav"></ul>
        <% if current_user %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a id="right-nav-item" href="/logout">logout</a>
          </li>
        </ul>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
