<!DOCTYPE html>
<html>
  <head>
    <% if current_user %>
      <title>Game - <%= current_user.email %></title>
    <% else %>
      <title>Game</title>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <nav id="navbar" class="navbar navbar-expand-md navbar-dark">
        <% if current_user %>
        <a id="sidebarCollapse" class="nav-header" style="cursor: pointer;"><%= current_user.email %></a>
        <% else %>
        <a id="sidebarCollapse" class="nav-header" style="cursor: pointer;">Home</a>
        <% end %>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
          <ul class="navbar-nav"></ul>
          <% if current_user %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a id="right-nav-item" style="margin-left: -3em;" href="/logout">logout</a>
            </li>
          </ul>
          <% end %>
        </div>
      </nav>
      <nav id="sidebar">
        <div class="sidebar-header">
          <div class="nav-spacing">
          </div>
          <a class="nav-link-a" href="/"><h3>Profile</h3></a>
          <a class="nav-link-a" href="/edit"><h3>Edit Profile</h3></a>
          <a class="nav-link-a" href="/campaigns"><h3>Campaigns</h3></a>
          <a class="nav-link-a" href="/partys"><h3>Partys</h3></a>
          <a class="nav-link-a" href="/friend_search"><h3>Friends</h3></a>
        </div>
      </nav>
    </div>
      <!-- <a id="right-nav-item" href="/logout">logout</a> -->
      <%= yield %>
      <script type="text/javascript">
        $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
        });
      </script>
  </body>
</html>
